.links {
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
  justify-content: center;

  .nav-links {
    display: flex;
    width: 90%;

    .link {
      text-decoration: none;
      color: grey !important;
      gap: 0.5rem;
      font-weight: 600;
      //flex: 1;
      width: 10%;

      img {
        object-fit: contain;
        margin-right: 1rem;
      }

      &:hover {
        color: var(--black) !important;
      }
      &.active {
        color: var(--black) !important;
        transition: 300ms;
      }
    }

    .logoutButton {
      display: flex;
    }
  }

  button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: grey;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 0.2rem;
    &:hover {
      color: var(--black);
    }
  }
}
