.login {
  min-height: 100vh;
  margin: 0;
  background-color: white;
  overflow-y: auto;
  box-sizing: border-box;
}
.login .alertdiv {
  position: absolute;
  top: 150px;
}
.login .form {
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
}
.login .form .form-container {
  border: 10px solid #FFE36C;
  display: flex;
  max-width: 1600px;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFFDF4;
}
@media screen and (max-width: 1200px) {
  .login .form .form-container {
    flex-direction: column;
    border-width: 5px;
  }
}
.login .form .form-container .left {
  position: relative;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login .form .form-container .left .header {
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
}
.login .form .form-container .left .header .underline {
  height: 6px;
  width: 100%;
  background-color: var(--yellow);
  border-radius: 1rem;
}
.login .form .form-container .left p {
  font-size: 0.8rem;
  width: 80%;
}
.login .form .form-container .left .form-inputs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
@media screen and (max-width: 760px) {
  .login .form .form-container .left .form-inputs {
    width: 100%;
  }
}
.login .form .form-container .left .form-inputs .input {
  outline: none;
  border: 0.5px solid rgba(216, 210, 210, 0.411);
  box-sizing: border-box;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  width: 100%;
}
@media screen and (max-width: 760px) {
  .login .form .form-container .left .form-inputs .input {
    font-size: 1.3rem;
  }
}
.login .form .form-container .left .form-inputs .input.eye {
  display: flex;
  background-color: white;
  padding: 0;
  align-items: center;
  padding-right: 1rem;
  justify-content: space-between;
}
.login .form .form-container .left .form-inputs .input.eye input {
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  width: 90%;
}
@media screen and (max-width: 760px) {
  .login .form .form-container .left .form-inputs .input.eye input {
    font-size: 1.3rem;
  }
}
.login .form .form-container .left .form-inputs .input.eye .eye-icon {
  fill: grey;
  color: grey;
}
.login .form .form-container .left .form-inputs .forgot-password {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
  cursor: pointer;
}
.login .form .form-container .left .form-inputs .login-button {
  background-color: var(--black);
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.login .form .form-container .left .form-inputs .login-button:hover {
  background: #2e2e2e;
  transition: 500ms;
}
.login .form .form-container .left .form-inputs .or {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login .form .form-container .left .form-inputs .or .line {
  height: 1px;
  background-color: rgb(168, 168, 168);
  flex: 0.5;
}
.login .form .form-container .left .social {
  margin-top: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.login .form .form-container .left .social button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.login .form .form-container .left .link {
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
}
.login .form .form-container .left .firm-register {
  background: var(--yellow);
  border: none;
  padding: 0.5rem 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--black);
}
.login .form .form-container .right {
  padding: 1rem;
  background-image: url(./svg/background.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.login .form .form-container .right h1 {
  width: 80%;
  font-size: 40px;
}
.login .form .form-container .right .bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: -moz-max-content;
  height: max-content;
}
.login .form .form-container .right .bottom .build {
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.login .form .form-container .right .bottom img.absolute {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .login .form .form-container .right {
    display: none;
  }
}
.login .form .form-container.reg .form-inputs .input-row {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 760px) {
  .login .form .form-container.reg .form-inputs .input-row {
    flex-direction: column;
  }
}
.login .form .form-container.reg .form-inputs .radios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  font-size: 0.8rem;
}
.login .form .form-container.reg .form-inputs .radios .inputRow {
  display: flex;
  align-items: center;
  gap: 16px;
}
.login .form .form-container.reg .form-inputs .radios .inputRow a {
  color: black;
  font-size: small;
}
.login .form .form-container.reg .form-inputs .radios .inputRow input[type=radio] { /* IE 9 */ /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.login .form .form-container.reg .form-inputs ul.regExp {
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: left;
  font-size: 12px;
  color: #474747;
  margin: 0;
  align-self: flex-start;
  box-sizing: border-box;
}

.form__item .light {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 200%;
  -webkit-clip-path: polygon(100% 50%, 100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 100% 50%, 0 0, 0 100%);
  background: yellow;
  opacity: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}

.form__item.pass-show .light {
  width: 150%;
  opacity: 1;
}/*# sourceMappingURL=login.css.map */