.profile {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
}
.profile .profileNavBar {
  display: flex;
  height: 72px;
  background-color: #fff;
}
.profile .profile-container {
  display: flex;
  width: 100%;
  min-height: 80vh;
}
.profile .profile-container .hidden-menu {
  display: none;
}
@media screen and (max-width: 760px) {
  .profile .profile-container {
    flex-direction: column;
  }
  .profile .profile-container .hidden-menu {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    gap: 10px;
    box-sizing: border-box;
  }
  .profile .profile-container .hidden-menu .img-container {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
  }
  .profile .profile-container .hidden-menu .img-container img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .profile .profile-container .hidden-menu .img-container img.mini {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  .profile .profile-container .hidden-menu .drop {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .profile .profile-container .hidden-menu .drop:hover {
    cursor: pointer;
    background-color: rgb(230, 225, 225);
  }
  .profile .profile-container .hidden-menu .submenu {
    transition: display 500ms;
    width: 100%;
  }
  .profile .profile-container .hidden-menu .submenu.opened {
    transition: 300ms;
    padding: 2rem;
    display: block;
  }
  .profile .profile-container .hidden-menu .submenu.closed {
    height: 0px;
    transition: 300ms;
  }
  .profile .profile-container .hidden-menu .submenu.closed .links {
    display: none;
  }
  .profile .profile-container .sidebar {
    display: none;
  }
}
.profile .profile-container .top-header-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .profile-container .top-header-bar .top-header-bar-item {
  text-decoration: none;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 4px;
}
.profile .profile-container .profile-inner-container {
  flex: 6;
  padding: 2rem;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 760px) {
  .profile .profile-container .profile-inner-container {
    padding: 1rem;
  }
}
.profile .profile-container .profile-inner-container .top .widgets-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .profile .profile-container .profile-inner-container .top .widgets-container {
    flex-wrap: wrap;
    gap: 5%;
  }
}
.profile .profile-container .profile-inner-container .top .widgets-container .item {
  background-color: white;
  box-shadow: 9px 14px 21px -17px rgba(0, 0, 0, 0.75);
  flex: 1;
  display: flex;
  min-height: 7.8rem;
  cursor: pointer;
  width: 100%;
  gap: 20px;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}
.profile .profile-container .profile-inner-container .top .widgets-container .item:hover {
  background-color: var(--black);
  color: white;
  transition: 300ms;
}
@media screen and (max-width: 767px) {
  .profile .profile-container .profile-inner-container .top .widgets-container .item {
    padding: 0.5rem;
    gap: 0.5rem;
    min-width: 45%;
    display: block;
    margin-bottom: 5%;
    min-height: 5rem;
  }
}
.profile .profile-container .profile-inner-container .top .widgets-container .item .left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.profile .profile-container .profile-inner-container .top .widgets-container .item .left span.label {
  font-weight: 300;
}
.profile .profile-container .profile-inner-container .top .widgets-container .item .left span.data {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .profile .profile-container .profile-inner-container .top .widgets-container .item .left span.data {
    font-size: 1rem;
  }
}
.profile .profile-container .profile-inner-container .top .widgets-container .item .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .profile .profile-container .profile-inner-container .top .widgets-container .item .right {
    display: none;
  }
}
.profile .profile-container .profile-inner-container .bottom {
  display: flex;
  padding-bottom: 2rem;
  gap: 20px;
}
.profile .profile-container .profile-inner-container .bottom .col {
  flex: 1;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  gap: 10px;
}
.profile .profile-container .profile-inner-container .bottom .col .header-bar {
  background-color: var(--black);
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.profile .profile-container .profile-inner-container .bottom .col .empty-box {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='27' stroke-linecap='square'/%3e%3c/svg%3e");
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 9px 14px 21px -17px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 10px;
  cursor: pointer;
}
.profile .profile-container .profile-inner-container .bottom .col .empty-box:hover {
  background-color: white;
  transition: 200ms;
  box-shadow: 9px 14px 21px -17px rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
}
.profile .profile-container .profile-inner-container .bottom .col .empty-text {
  margin: 1rem 0.5rem;
  text-align: center;
}
.profile .profile-container .profile-inner-container .bottom .col .modal-slider {
  display: flex;
  background-color: aqua;
}
@media screen and (max-width: 760px) {
  .profile .profile-container .profile-inner-container .bottom {
    flex-direction: column;
  }
}/*# sourceMappingURL=profile.css.map */