@keyframes openbox {
  0% {
    height: 0px;
    width: 0px;
  }
  100% {
    height: 600px;
    width: 50%;
    @media screen and (max-width: 760px) {
      width: 90%;
      height: 80%;
    }
  }
}
@keyframes closebox {
  0% {
    height: 600px;
    width: 50%;
    @media screen and (max-width: 760px) {
      width: 90%;
      height: 80%;
    }
  }
  100% {
    height: 0px;
    width: 0px;
  }
}
/*chat box style */
/*executes the hide animation */
/*executes the expand animation*/
.showBox {
  /* Chrome, Safari, Opera */
  animation: openbox 0.25s ease-in;
  height: 390px;
  width: 20%;
}
@media screen and (max-width: 760px) {
  .showBox {
    width: 90%;
    height: 80%;
  }
}

/*chat button style */
a#chat_btn {
  text-decoration: none;
  font-weight: bold;
  background: #911;
  color: #fff;
  letter-spacing: 0.15em;
  padding: 4px 5px;
  border-radius: 5px 5px 0px 0px;
}

/*round corners for chat*/
#chat_btn.round_cor {
  border-radius: 5px;
}

/* next up, add a space to write your chat */
textarea {
  margin: 25px;
  padding: 1%;
  display: inherited;
}

.btn-wrapper {
  padding: 0;
  position: relative;
  /*hides any feature */
}
.btn-wrapper .buton {
  position: fixed;
  right: 10px;
  box-shadow: 10px 10px 39px -19px rgba(0, 0, 0, 0.77);
  bottom: 10px;
  background-color: transparent;
  padding: 0;
  z-index: 150;
  border-radius: 2rem 2rem 0px 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-wrapper .buton img {
  width: 55%;
  height: 60%;
  align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.btn-wrapper .buton .notify-circle {
  width: 20px;
  height: 20px;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.btn-wrapper .buton .icon {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 762px) {
  .btn-wrapper .buton .icon {
    width: 80px;
  }
}
.btn-wrapper div.chatBox {
  background: #f6f6f6;
  z-index: 100;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 10px;
  bottom: 10px;
  border-radius: 0.8rem 0.8rem 0px 0.8rem;
  border: 0.5px solid grey;
}
.btn-wrapper div.chatBox button {
  box-sizing: border-box;
  padding: 1rem;
  height: 12.5%;
  background-color: grey;
  color: white;
  font-weight: 600;
  border: 0.5px solid white;
  border-radius: 0.8rem 0.8rem 0px 0px;
}
.btn-wrapper div.chatBox .finish-chat {
  box-sizing: border-box;
  padding: 0.5rem;
  height: 12.5%;
  background-color: var(--yellow);
  color: white;
  font-weight: 600;
  border: 0.5px solid white;
  border-radius: 0.8rem 0.8rem 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn-wrapper div.chatBox .finish-chat button {
  background-color: var(--black);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}
.btn-wrapper div.chatBox .finish-chat button:hover {
  transition: 300ms;
  background-color: white;
  color: var(--black);
  box-shadow: inset 6px 6px 32px -22px rgba(0, 0, 0, 0.75);
}
.btn-wrapper div.chatBox .chatcontainer {
  display: flex;
  height: 87.5%;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(236, 231, 231, 0.178);
}
.btn-wrapper div.chatBox .chatcontainer .chat-top {
  background-color: white;
  height: 15%;
  border: 0.5px solid rgb(180, 177, 177);
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}
.btn-wrapper div.chatBox .chatcontainer .chat-top .chat-top-left {
  flex: 1;
  display: flex;
}
.btn-wrapper div.chatBox .chatcontainer .chat-top .chat-top-left img {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.btn-wrapper div.chatBox .chatcontainer .chat-top .chat-top-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--black);
  font-weight: 600;
}
.btn-wrapper div.chatBox .chatcontainer .chat-top .chat-top-right .end-chat-button {
  cursor: pointer;
  background-color: #F0F0F6;
  padding: 0.5rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  width: -moz-max-content;
  width: max-content;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center {
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
  background-color: #eceaea;
  border-radius: 10px;
}
@media screen and (max-width: 760px) {
  .btn-wrapper div.chatBox .chatcontainer .chat-center {
    height: 65%;
  }
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .isent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .incoming {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .irequested {
  width: -moz-max-content;
  width: max-content;
  background-color: #484848;
  color: white;
  min-width: 450px;
  max-width: 800px;
  padding: 0px;
  border-radius: 28px 28px 0px 28px;
  display: flex;
  flex-direction: column;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .irequested p {
  padding: 5px 15px 5px 25px;
  text-align: left;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .theyAnswered {
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  color: black;
  min-width: 450px;
  max-width: 800px;
  padding: 0px;
  border-radius: 28px 28px 28px 0px;
  display: flex;
  flex-direction: column;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .theyAnswered p {
  padding: 5px 15px 5px 25px;
  text-align: left;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .message-header {
  padding: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .message-header .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .message-header .left img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .message-header .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center #divider {
  margin: 5px 0px;
}
.btn-wrapper div.chatBox .chatcontainer .chat-center .end-of-conv {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 10px 0;
  align-items: center;
  padding: 4px;
  color: #505050;
  border-bottom: 2px dashed rgb(163, 1, 1);
}
.btn-wrapper div.chatBox .chatcontainer .messages {
  overflow-y: auto;
  border-bottom: 1px solid var(--color-6);
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom {
  display: flex;
  background-color: white;
  height: 15%;
  border: 0.5px solid rgb(180, 177, 177);
  border-radius: 10px 10px 0 10px;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .btn-wrapper div.chatBox .chatcontainer .chat-bottom {
    height: 20%;
  }
  .btn-wrapper div.chatBox .chatcontainer .chat-bottom ::-moz-placeholder {
    font-size: 1rem;
  }
  .btn-wrapper div.chatBox .chatcontainer .chat-bottom ::placeholder {
    font-size: 1rem;
  }
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form .img-box {
  background-color: gainsboro;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  text-overflow: ellipsis;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 5%;
  flex-wrap: wrap;
  overflow: hidden;
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form .img-box small {
  font-size: 10px;
  width: 100%;
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form .img-box .icon {
  font-size: 10px;
  padding: 4px;
  background-color: grey;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form input.chat-input {
  border: none;
  outline: none;
  width: 85%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form .addFile {
  border-right: 0.5px solid grey;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  padding-right: 10px;
  cursor: pointer;
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form button.send-chat {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: var(--black);
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form button.send-chat.empty {
  opacity: 0.5;
}
.btn-wrapper div.chatBox .chatcontainer .chat-bottom form button.send-chat.ready {
  opacity: 1;
  cursor: pointer;
}
.btn-wrapper .hide {
  display: none;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
.btn-wrapper .hideBox {
  /* Chrome, Safari, Opera */
  animation: closebox 0.25s ease-out;
  height: 0;
  width: 0;
}
.btn-wrapper .hideBox textarea {
  display: none;
}
.btn-wrapper .hideBox button {
  display: none;
}/*# sourceMappingURL=liveChat.css.map */