.page-container .wrapper {
  padding: 5rem;
}
.page-container .kvkk {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: center;
}
.page-container .kvkk p {
  width: 60%;
}
.page-container .about {
  width: 100%;
  overflow-y: auto;
  margin: auto;
  background-image: url("./about/back.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 3rem 0;
  box-sizing: border-box;
}
.page-container .about .top {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  padding: 1rem;
  max-width: 1000px;
}
.page-container .about .top h1 {
  font-size: 3rem;
}
.page-container .about .top p {
  width: 95%;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 400;
  align-self: center;
}
.page-container .about .bottom {
  min-height: 100vh;
  display: flex;
  position: relative;
  width: 100%;
  padding: 0 1rem;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.page-container .about .bottom .row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.page-container .about .bottom .row .left {
  text-align: right;
}
.page-container .about .bottom .row label {
  font-size: 2rem;
  color: var(--orange);
  font-weight: 600;
  flex: 1;
}
.page-container .about .bottom .row div {
  flex: 1;
}
.page-container .about .bottom .row h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
  line-height: 2rem;
}
.page-container .about .bottom .row p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  line-height: 1.2rem;
}
.page-container .about .bottom .row .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  z-index: 5;
  height: 22px;
  border-radius: 50%;
  flex: none;
  border: 1px solid var(--black);
  margin: 0 10px;
}
.page-container .about .bottom .row .circle.white {
  background-color: white;
}
.page-container .about .bottom .row .circle.black {
  background-color: var(--black);
}
.page-container .about .bottom .row .circle.orange {
  background-color: var(--orange);
}
.page-container .about .bottom .center {
  position: absolute;
  top: 2rem;
  height: calc(100vh - 5rem);
  width: 2px;
  box-sizing: border-box;
  background-color: var(--black);
}
@media screen and (max-width: 800px) {
  .page-container .about .bottom .center {
    top: 4rem;
    height: calc(100% - 8.8rem);
  }
}
.page-container .contact {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}
.page-container .contact .center-box {
  display: flex;
  width: 90%;
  box-sizing: border-box;
  padding: 4rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 10px solid #FFE36C;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 760px) {
  .page-container .contact .center-box {
    padding: 8rem 0.5rem;
    flex-direction: column;
    overflow-y: auto;
  }
}
.page-container .contact .center-box .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.page-container .contact .center-box .left h2 {
  text-align: center;
  font-size: larger;
  margin-bottom: 15px;
}
.page-container .contact .center-box .left .underline {
  margin-bottom: 10px;
  height: 5px;
  width: 35%;
  background-color: var(--yellow);
  align-self: center;
  border-radius: 1rem;
}
.page-container .contact .center-box .left h6 {
  font-weight: 500;
  text-align: center;
  font-size: 13px;
}
.page-container .contact .center-box .left form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 20px;
  align-items: flex-start;
}
.page-container .contact .center-box .left form input, .page-container .contact .center-box .left form textarea {
  outline: none;
  border: 1px solid rgba(216, 210, 210, 0.411);
  box-sizing: border-box;
  margin-bottom: 4%;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 100%;
  resize: none;
}
.page-container .contact .center-box .left form textarea {
  margin: auto;
  margin-bottom: 1rem;
}
.page-container .contact .center-box button {
  height: auto;
  width: 100.4%;
  background-color: #292525;
  color: white;
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
}
.page-container .contact .center-box button:hover {
  background-color: #2e2e2e;
  transition: 500ms;
}
.page-container .contact .center-box .right {
  flex: 1;
  text-align: left;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 760px) {
  .page-container .contact .center-box .right {
    padding: 0.2rem;
  }
}
.page-container .contact .center-box .title {
  width: 90%;
  position: relative;
}
.page-container .contact .center-box .title .shadow-text {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-weight: 200;
  width: 100%;
  color: grey;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  opacity: 0.2;
}
.page-container .contact .center-box .title h1 {
  color: var(--black);
  text-align: center;
  font-weight: 500;
}
.page-container .contact .center-box .content {
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (max-width: 760px) {
  .page-container .contact .center-box .content {
    gap: 8px;
    padding: 0.5rem;
  }
}
.page-container .contact .center-box .content .link-row {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 20px;
  color: var(--black);
  width: 100%;
}
@media screen and (max-width: 760px) {
  .page-container .contact .center-box .content .link-row {
    gap: 2px;
    padding: 0.5rem;
  }
}
.page-container .contact .center-box .content .link-row .icon {
  font-size: 1.5rem;
}
.page-container .contact .center-box .content .link-row .icon.wp {
  color: #25D366;
}
.page-container .contact .center-box .content .link-row .icon.phone {
  color: #4c473b;
}
.page-container .contact .center-box .content .link-row .icon.mail {
  color: #21759b;
}
.page-container .contact .center-box .content .link-row .icon.home {
  color: gray;
}
.page-container .contact .center-box .content .link-row label {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  color: var(--black);
  width: 100%;
  flex: 1;
}
@media screen and (max-width: 760px) {
  .page-container .contact .center-box .content .link-row label {
    gap: 4px;
  }
}
.page-container .contact .center-box .content .link-row label span {
  cursor: pointer;
  flex: 1;
  font-weight: 700;
}
@media screen and (max-width: 760px) {
  .page-container .contact .center-box .content .link-row label span {
    font-size: 0.8rem;
  }
}
.page-container .contact .center-box .content .link-row label h3 {
  cursor: pointer;
  flex: 1;
  font-weight: 600;
  font-size: medium;
}
@media screen and (max-width: 760px) {
  .page-container .contact .center-box .content .link-row label h3 {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=detail.css.map */