.hesabim{
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
        .imgContainer{
            
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            img.profil-photo{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: contain;
            }
            .no-image{
                background-color: gainsboro;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: #505050;
            }
        }
        .hesabim-container{
            display: flex;
            width: 100%;
            min-height: 80vh;
            .hidden-menu{
                display: none;
            }
            @media screen and (max-width:760px) {
                flex-direction: column;
                .hidden-menu{
                    display: block;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                  
                    padding: 0.5rem;
                    gap: 10px;
                    box-sizing: border-box;
                    .img-container{
                        width: 100px;
                        height: 100px;
                        position: relative;
                        display: flex;
                        
                        img{
                            display: flex;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                        }
                        img.mini{
                            display: flex;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            right: 0;
                        bottom: 0;
                        z-index: 5;
                    }
                    }
                    .drop{
                        padding: 0.5rem;
                        border-radius: 0.5rem;
    
                        &:hover{
                            cursor: pointer;
                            background-color: rgb(230, 225, 225);
                        }
                    
                    
                    }
                    .submenu{
                        transition:display 500ms;
                        width: 100%;
                        &.opened{
                            transition: 300ms;    
                            padding: 2rem;
                            display: block;
                        }
                        &.closed{
                            height: 0px;
                            transition: 300ms;
                            .links{
                                display: none;
                            }
                            
                        }
                    }
                }
                .sidebar{
                    display: none;
                }
            }
            .hesabim-inner-container{
            flex: 6;
            padding: 2rem;
            background-color: #F5F5F5;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            @media screen and (max-width:760px) {
                padding: 1rem;
            }
            .form-container{
                flex: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .inputContainer{
                    padding: 1rem 0;
                    flex: 1;
                    width: 100%;
                    background-color: #F6F6F6;
                    
                    @media screen and (max-width:1600px) {
                        width: 80%;
                        transition: 300ms;
                    }
                    @media screen and (max-width:1300px) {
                        width: 90%;
                        
                        transition: 300ms;
                    }
                    .alert{
                        position: absolute;
                        z-index: 15;
                        top: 0px;
                        align-self: center;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        button{
                            border: 1px solid blue;
                            padding: 8px;
                            margin-left: 30px;
                            border-radius: 5px;
                            outline: none;
                            background-color: transparent;
                            color: blue;
                            font-weight: bold;
                            align-self: flex-end;
                            cursor: pointer;
                        }
                    }
                    form{
                        display: flex;
                        flex-direction: column;
                        height: max-content;
                        width: 100%;
                        
                        gap: 20px;
                        .row{
                            display: flex;
                            gap: 30px;
                            align-items: center;
                            @media screen and (max-width:760px) {
                                flex-direction: column;
                                
                            }
                            
                            
                            .input{
                                display: flex;
                                flex: 1;
                                flex-direction: column;
                                input,textarea{
                                    padding: 8px;
                                    box-sizing: border-box;
                                    border: 0.5px solid grey;
                                    border-radius: 5px;
                                    outline: none;
                                    background-color: white;
                                    &:disabled{
                                        background-color: gainsboro;
                                    }
                                   
                                }
                                textarea{
                                    height: 90px;
                                    
                                }

    
                            }
                            &.buttons{
                                align-items: center;
                                
                                width: 100%;
                                justify-content: flex-end;
                                box-sizing: border-box;
                                display: flex;
                                flex-direction: row;
                                
                                margin: 0;
                                padding: 0;
                                
    
                                button{
                                    //width: 15%;
                                    padding: 5px;
                                    border-radius: 5px;
                                    box-sizing: border-box;
                                    border: none;
                                    width: max-content;
                                    min-width: 100px;
                                    &.exit{
                                        background-color: white;
                                        border: 0.5px solid grey;
                                        font-weight: 600;
                                        cursor: pointer;
                                    }
                                    &.submit{
                                        background-color:var(--black);
                                        border: 0.5px solid grey;
                                        color: white;
                                        font-weight: 600;
                                        cursor: pointer;
                                    }
                                }
                            }
                            img{
                                width: 80px;
                                height: 80px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                    }
                    form.pass{
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        
                     .inputver{
                        display: flex;
                        border: 0.5px solid grey;
                        padding: 10px;
                        box-sizing: border-box;
                        padding: 10px;
                        background-color: white;
                        width: 80%;
                        max-width: 300px;
                        border-radius: 5px;
                        color: #505050;
                        input{
                            width: 90%;
                            border: none;
                            outline: none;
                        }
                     }
                     ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        
                     }
                     .row-buttons {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        justify-content: flex-end;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        

                        button{
                            padding: 0.5rem 1rem;
                            border-radius: 5px;
                            box-sizing: border-box;
                            border: none;
                            &.exit{
                                background-color: white;
                                border: 0.5px solid grey;
                                font-weight: 600;
                                cursor: pointer;
                            }
                            &.submit{
                                background-color:var(--black);
                                border: 0.5px solid grey;
                                color: white;
                                font-weight: 600;
                                cursor: pointer;
                            }
                        }
                    }
                    
                    }
                }
            }
            
            }
    }
}