.hesabim {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
}
.hesabim .imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.hesabim .imgContainer img.profil-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hesabim .imgContainer .no-image {
  background-color: gainsboro;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #505050;
}
.hesabim .hesabim-container {
  display: flex;
  width: 100%;
  min-height: 80vh;
}
.hesabim .hesabim-container .hidden-menu {
  display: none;
}
@media screen and (max-width: 760px) {
  .hesabim .hesabim-container {
    flex-direction: column;
  }
  .hesabim .hesabim-container .hidden-menu {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    gap: 10px;
    box-sizing: border-box;
  }
  .hesabim .hesabim-container .hidden-menu .img-container {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
  }
  .hesabim .hesabim-container .hidden-menu .img-container img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .hesabim .hesabim-container .hidden-menu .img-container img.mini {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  .hesabim .hesabim-container .hidden-menu .drop {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .hesabim .hesabim-container .hidden-menu .drop:hover {
    cursor: pointer;
    background-color: rgb(230, 225, 225);
  }
  .hesabim .hesabim-container .hidden-menu .submenu {
    transition: display 500ms;
    width: 100%;
  }
  .hesabim .hesabim-container .hidden-menu .submenu.opened {
    transition: 300ms;
    padding: 2rem;
    display: block;
  }
  .hesabim .hesabim-container .hidden-menu .submenu.closed {
    height: 0px;
    transition: 300ms;
  }
  .hesabim .hesabim-container .hidden-menu .submenu.closed .links {
    display: none;
  }
  .hesabim .hesabim-container .sidebar {
    display: none;
  }
}
.hesabim .hesabim-container .hesabim-inner-container {
  flex: 6;
  padding: 2rem;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 760px) {
  .hesabim .hesabim-container .hesabim-inner-container {
    padding: 1rem;
  }
}
.hesabim .hesabim-container .hesabim-inner-container .form-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer {
  padding: 1rem 0;
  flex: 1;
  width: 100%;
  background-color: #F6F6F6;
}
@media screen and (max-width: 1600px) {
  .hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer {
    width: 80%;
    transition: 300ms;
  }
}
@media screen and (max-width: 1300px) {
  .hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer {
    width: 90%;
    transition: 300ms;
  }
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer .alert {
  position: absolute;
  z-index: 15;
  top: 0px;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer .alert button {
  border: 1px solid blue;
  padding: 8px;
  margin-left: 30px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: blue;
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form {
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  gap: 20px;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row {
    flex-direction: column;
  }
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row .input {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row .input input, .hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row .input textarea {
  padding: 8px;
  box-sizing: border-box;
  border: 0.5px solid grey;
  border-radius: 5px;
  outline: none;
  background-color: white;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row .input input:disabled, .hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row .input textarea:disabled {
  background-color: gainsboro;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row .input textarea {
  height: 90px;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row.buttons {
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row.buttons button {
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  width: -moz-max-content;
  width: max-content;
  min-width: 100px;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row.buttons button.exit {
  background-color: white;
  border: 0.5px solid grey;
  font-weight: 600;
  cursor: pointer;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row.buttons button.submit {
  background-color: var(--black);
  border: 0.5px solid grey;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form .row img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form.pass {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form.pass .inputver {
  display: flex;
  border: 0.5px solid grey;
  padding: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  width: 80%;
  max-width: 300px;
  border-radius: 5px;
  color: #505050;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form.pass .inputver input {
  width: 90%;
  border: none;
  outline: none;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form.pass ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form.pass .row-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  width: 100%;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form.pass .row-buttons button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form.pass .row-buttons button.exit {
  background-color: white;
  border: 0.5px solid grey;
  font-weight: 600;
  cursor: pointer;
}
.hesabim .hesabim-container .hesabim-inner-container .form-container .inputContainer form.pass .row-buttons button.submit {
  background-color: var(--black);
  border: 0.5px solid grey;
  color: white;
  font-weight: 600;
  cursor: pointer;
}/*# sourceMappingURL=myaccount.css.map */