.sidebar{
    flex:1;
    background-color: beige;
    
    -webkit-box-shadow: 9px 14px 21px -17px rgba(0,0,0,0.75);
            -moz-box-shadow: 9px 14px 21px -17px rgba(0,0,0,0.75);
            box-shadow: 9px 14px 21px -17px rgba(0,0,0,0.75);
        display: flex;
       

    
}