.footer {
  padding-top: 0rem;
  background-color: var(--yellow);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.footer h3 {
  font-size: larger;
}
.footer h3.col-title {
  font-weight: 600;
  color: var(--black);
  font-size: 1.2rem;
}
.footer .footer-top {
  background: transparent;
  display: flex;
  max-width: 1500px;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  gap: 0;
}
@media screen and (max-width: 1850px) {
  .footer .footer-top {
    padding: 1rem;
  }
  .footer .footer-top .col {
    min-height: 200px;
  }
}
@media screen and (max-width: 1550px) {
  .footer .footer-top {
    flex-wrap: wrap;
  }
  .footer .footer-top .col {
    min-height: 200px;
  }
}
@media screen and (max-width: 1200px) {
  .footer .footer-top {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
  }
  .footer .footer-top .col {
    min-height: 200px;
  }
}
.footer .footer-top .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  margin: 0;
}
.footer .footer-top .col.one {
  flex: 2;
}
.footer .footer-top .col.two {
  box-sizing: border-box;
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col.two {
    flex-direction: column;
    padding-left: 1.2rem;
  }
}
.footer .footer-top .col.four {
  padding: 2rem 0;
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col.four {
    padding-left: 1rem;
  }
}
.footer .footer-top .col .logo-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: -15px;
}
.footer .footer-top .col .logo-name {
  border: 1px solid;
}
.footer .footer-top .col .svg {
  display: flex;
  gap: 0.5rem;
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col {
    padding: 0.5rem;
  }
}
.footer .footer-top .col .centered {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .footer-top .col .centered .contact-area {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col .centered .contact-area {
    flex-direction: column;
  }
}
.footer .footer-top .col .centered label.app-news {
  background-color: white;
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  box-shadow: 10px 18px 35px -3px rgba(0, 0, 0, 0.32);
  color: var(--lblack);
}
.footer .footer-top .col .centered label.app-news .icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer-top .col .centered .link a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.2rem;
}
.footer .footer-top .col .centered .button-red {
  border-radius: 0.3rem;
  box-sizing: border-box;
  background: #FB383B;
  padding: 0.3rem 1.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col .centered .button-red {
    min-height: 60px;
  }
}
.footer .footer-top .col .centered .buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-top: 12px;
  justify-content: flex-start;
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col .centered .buttons {
    padding: 0;
    gap: 10px;
  }
}
.footer .footer-top .col .centered .buttons .button {
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  padding-bottom: 7px;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}
.footer .footer-top .col .centered .buttons .button:hover {
  text-decoration: underline;
}
.footer .footer-top .col .centered .buttons .button:active {
  font-weight: 600;
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col .centered .buttons .button {
    margin: 0;
    padding: 0;
  }
}
.footer .footer-top .col .centered a.firm-panel {
  background: var(--black);
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}
.footer .footer-top .col .centered .logo {
  width: 60%;
}
.footer .footer-top .col .centered .link {
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: flex-start;
  cursor: pointer;
  color: var(--black);
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.3rem;
  font-size: 16px;
}
.footer .footer-top .col .centered .link .column {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer .footer-top .col .centered .link.line {
  padding: 0;
}
.footer .footer-top .col .centered .link:hover {
  transition: 300ms;
  text-decoration: underline;
}
.footer .footer-top .col .centered .link img.mini-blog-card {
  max-width: 80px;
  max-height: 60px;
  flex: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1000px) {
  .footer .footer-top .col .centered .link {
    flex-direction: column;
  }
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col .centered .link {
    flex-direction: row;
  }
}
.footer .footer-top .col .centered .link-blog {
  text-decoration: none;
  display: flex;
  width: 100%;
  cursor: pointer;
  color: var(--black);
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.footer .footer-top .col .centered .link-blog .column {
  display: flex;
  flex: 2;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer .footer-top .col .centered .link-blog .column p {
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.footer .footer-top .col .centered .link-blog.line {
  padding: 0;
}
.footer .footer-top .col .centered .link-blog:hover {
  transition: 300ms;
  text-decoration: underline;
}
.footer .footer-top .col .centered .link-blog img.mini-blog-card {
  max-width: 80px;
  max-height: 60px;
  flex: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1000px) {
  .footer .footer-top .col .centered .link-blog {
    flex-direction: column;
  }
}
@media screen and (max-width: 760px) {
  .footer .footer-top .col .centered .link-blog {
    flex-direction: row;
  }
}
.footer .footer-top .small {
  flex: 1;
  border: 1px solid;
}
.footer .footer-top .inner-small {
  padding: 2rem 0;
  padding-left: 0;
}
.footer .bottom {
  flex: 1;
  padding: 1rem 3.5%;
  box-sizing: border-box;
  color: white;
  display: flex;
  background: black;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 760px) {
  .footer .bottom {
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 20px;
  }
}
.footer .bottom .bottom-wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (max-width: 1200px) {
  .footer .bottom .bottom-wrapper {
    flex-direction: column;
  }
}
.footer .bottom .bottom-wrapper .left {
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-self: flex-start;
  cursor: pointer;
  flex-direction: row;
}
@media screen and (max-width: 1000px) {
  .footer .bottom .bottom-wrapper .left {
    flex-direction: column;
  }
}
.footer .bottom .bottom-wrapper .right {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer .bottom .bottom-wrapper .right .link {
  text-decoration: none;
  cursor: pointer;
}
.footer .bottom .bottom-wrapper .right .link.white {
  color: white;
}
.footer .bottom .bottom-wrapper .right .link.yellow {
  color: var(--yellow);
}
@media screen and (max-width: 760px) {
  .footer .bottom .bottom-wrapper .right {
    flex-direction: column;
  }
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 35px;
  margin-top: 4%;
}
.social-media-icons a {
  font-size: 16px;
  text-decoration: none;
}
.social-media-icons a span {
  color: black;
  position: relative;
  right: 10px;
}
@media screen and (max-width: 760px) {
  .social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

a.social {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a.youtube {
  position: relative;
  color: red;
}
a.youtube:hover {
  color: red;
}

a.facebook {
  position: relative;
  color: #3b5998;
}
a.facebook:hover {
  color: #3b5998;
}

a.linkedin {
  position: relative;
  color: #0e76a8;
}
a.linkedin:hover {
  color: #0e76a8;
}

a.twitter {
  position: relative;
  color: #00acee;
}
a.twitter:hover {
  color: #00acee;
}

a.instagram {
  position: relative;
  color: #E1306C;
}
a.instagram:hover {
  color: #E1306C;
}

.bank {
  position: relative;
  width: 100%;
  max-width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  align-self: flex-start;
}
@media screen and (max-width: 760px) {
  .bank {
    position: relative;
    height: 22px;
  }
}/*# sourceMappingURL=footer.css.map */